<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>

        <div class="container mx-auto bg-gradient-to-r from-blue-300 to-blue-500 rounded-lg shadow-lg p-8 my-10">
            <h1 class="text-4xl font-bold text-center text-white mb-10">Autoo Server</h1>
            <div class="flex justify-center">
                <a href="/docs" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full mr-4 transition duration-300 ease-in-out transform hover:scale-110">Swagger Docs</a>
                <a href="/redoc" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out transform hover:scale-110">Documentation</a>
            </div>
        </div>
    
    
</body>
</html>